/*
 * @Author: mashitu
 * @Date: 2021-01-14 14:01:49
 * @LastEditTime: 2022-04-24 16:09:51
 * @LastEditors: mashitu
 * @Description: 全局css
 */

@import './variables';
@import './mixin';

html,
body,
ul,
li,
ol,
dl dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

ul,
ol,
li { list-style: none; }

a,
u { text-decoration: none; }

img {
  display: block;
  border: 0;
}

em,
i { font-style: normal; }

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 100; }

h1,
h2,
h3,
h4,
h5,
h6 { font-size: 16px; }
:focus { outline: 0; }

.clearfix {
  &::after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    content: ' ';
  }
}
