/*
 * @Author: mashitu
 * @Date: 2021-01-14 14:09:50
 * @LastEditTime: 2022-04-24 16:48:44
 * @LastEditors: mashitu
 * @Description: 全局 mixin
 */

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
