<!--
 * @Author: xxx
 * @Date: 2021-01-14 15:09:14
 * @LastEditTime: 2022-04-12 19:24:53
 * @LastEditors: xxx
 * @Description: {{name}} 入口
-->
<template>
  <div>

  </div>
</template>

<script>

export default {
  name: "{{name}}",
  components: {

  },
  mixins: [

  ],
  props: {

  },
  data() {
    return {

    };
  },
  computed: {
    
  },
  watch: {

  },
  mounted() {

  },
  methods: {

  }
};
</script>

<style lang="scss" scoped>
  
</style>

